
<div class="container" style="margin-top:10px;">
	<div class="jumbotron">
		<h1>Test</h1>
		<ul>
			<li><a href="/test/question1">Question 1</a></li>
			<li><a href="/test/question2">Question 2</a></li>
			<li><a href="/test/question3">Question 3</a></li>
		</ul>
	</div>
</div>